<html>
<head>
<script type="text/javascript">var _start = new Date();</script>
</head>
<body>
<p>
  This is an analytics test page
</p>
<script type="text/javascript" src="/tracker.js"></script>
</body>
</html>
